@using RiskAssessment.Resource;
@{
    ViewData["Title"] = "Kế hoạch kiểm toán năm";
    Layout = "_Layout";
}

<div class="row page-titles mx-0" style="padding-bottom: 0px; ">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">@Resource.AuditPlan</a></li>
        </ol>
    </div>
</div>