<!DOCTYPE html>
@using RiskAssessment.Resource;
@using KitanoApplication.DataAccess;
@{
    Layout = "_Layout";
}
<style>
    .custom-card-config {
        display: block;
        box-shadow: 6px 11px 41px -28px #a99de7;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.125);
        background-color: rgba(242, 242, 242, 1);
    }

    .table td {
        padding: 0.3rem !important;
    }
</style>
<div class="row page-titles mx-0" style="padding-bottom: 0px; ">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">@Resource.Home</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Cấu hình phê duyệt</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="card" id="view">
        <div class="card-header bg-primary text-white" style=" font-size: 1rem; ">
            Cấu hình luồng phê duyệt
        </div>
        <form id="formModify" class="form-valide" action="#" method="post">
            <div id="loadMenu">
                <div class="col-md-12 approvalconfig_item" style="padding-top:15px">
                    <div class="custom-card-config" id="headingOne">
                        <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="margin: 10px; padding: 1px 4px; border: 1px solid #d5dce5 !important; vertical-align: middle; "><i class="fas fa-minus" aria-hidden="true" style=" text-align: center; vertical-align: middle; "></i></a>
                            <span>Collapsible Group Item #1</span>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="col-md-12" style="display:flex">
                                <div class="form-check" style="padding-right: 4em;">
                                    <input class="form-check-input" type="radio" name="AuditLevel" id="AuditLevel1" checked value="1">
                                    <label for="AuditLevel1">
                                        Duyệt cấp 1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="AuditLevel" id="AuditLevel2" value="2">
                                    <label for="AuditLevel2">
                                        Duyệt cấp 2
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="table-responsive custom-table-scroll ">
                                    <table id="prepareAuditPlanTable" class="table table-striped table-bordered zero-configuration">
                                        <caption hidden></caption>
                                        <thead class="contain-header-custom m-gray">
                                            <tr>
                                                <th class="text-center" scope="col" style="width:100px !important">Mã trạng thái</th>
                                                <th class="text-center" scope="col" style="width:40% !important">Ý nghĩa</th>
                                                <th class="text-center" scope="col" style="width:40% !important">Tên trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody class="contain-tbody-custom">
                                            <tr>
                                                <td class="text-center">1.0</td>
                                                <td class="line-break">
                                                    Trạng thái sau khi tạo mới
                                                </td>
                                                <td class="line-break"><input type="text" class="form-control" id="Name" name="Name"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-form-label" style=" display: flex; flex-direction: row; justify-content: center; align-items: center; ">
                                        <input type="checkbox" id="IsOutSide" name="IsOutSide" style="margin-left: 17px;">&nbsp;
                                        <span>Duyệt ngoài hệ thống</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-top: 15px; padding-bottom: 15px">
                    <div class="custom-card-config" id="headingTwo">
                        <h5 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="margin: 10px; padding: 1px 4px; border: 1px solid #d5dce5 !important; vertical-align: middle; "><i class="fas fa-plus" aria-hidden="true" style=" text-align: center; vertical-align: middle; "></i></a>
                            <span> Collapsible Group Item #2</span>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="display: inline-flex; flex-direction: row; justify-content: end; align-items: flex-end; width: 100%; margin-bottom: 20px; margin-top: 10px;">
                <div style="display: inline-flex; flex-direction: row; justify-content: end; align-items: flex-end;">
                    <div style="display: inline-flex; flex-direction: row; justify-content: end; align-items: flex-end; padding: 0 5px 0 5px; ">
                        <button type="submit" class="btn btn-info" style="width:100%">@Resource.Save</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
@section Scripts{
    <script src="~/js/jsApp/common.js" asp-append-version="true"></script>
    <script src="~/js/constant.js" asp-append-version="true"></script>
    <script src="~/js/jsApp/approvalconfig.js" type="text/javascript" asp-append-version="true"></script>
}