tr th.number1 {
    width: 1% !important;
}

tr th.number2 {
    width: 15% !important;
}

tr th.number3 {
    width: 10% !important;
}

tr th.number4 {
    width: 45% !important;
}

tr th.number5 {
    width: 12% !important;
}
