@using Microsoft.AspNetCore.Http
@{
    var currentuser = Context.Items["UserInfo"] as CurrentUserModel;
    var _language = Context.Request.Cookies["language"];
}
<div class="nav-control">
    <div class="hamburger">
        <span class="toggle-icon"><i class="fas fa-angle-double-left" style="font-size: 25px; color: #544f90;"></i></span>
    </div>
</div>
<div class="header-left">
    <div class="input-group icons">
        <div class="input-group-prepend">
            <p>
                <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1" style="color: #21409A;">
                    PHẦN MỀM KIỂM TOÁN NỘI BỘ
                </span>
            </p>
        </div>
    </div>
</div>
<div class="header-right">
    <ul class="clearfix">
        @*<li class="icons dropdown">
                <a href="javascript:void(0)" data-toggle="dropdown">
                    <i class="mdi mdi-bell-outline" style="font-size:2rem"></i>
                    <span class="badge badge-pill gradient-2">3</span>
                </a>
                <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                    <div class="dropdown-content-heading d-flex justify-content-between">
                        <span class="">2 New Notifications</span>
                        <a href="javascript:void()" class="d-inline-block">
                            <span class="badge badge-pill gradient-2">5</span>
                        </a>
                    </div>
                    <div class="dropdown-content-body">
                        <ul>
                            <li>
                                <a href="javascript:void()">
                                    <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                    <div class="notification-content">
                                        <h6 class="notification-heading">Events near you</h6>
                                        <span class="notification-text">Within next 5 days</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void()">
                                    <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                    <div class="notification-content">
                                        <h6 class="notification-heading">Event Started</h6>
                                        <span class="notification-text">One hour ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void()">
                                    <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                    <div class="notification-content">
                                        <h6 class="notification-heading">Event Ended Successfully</h6>
                                        <span class="notification-text">One hour ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void()">
                                    <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                    <div class="notification-content">
                                        <h6 class="notification-heading">Events to Join</h6>
                                        <span class="notification-text">After two days</span>
                                    </div>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </li>*@
        <li class="icons dropdown">
            <div class="user-img c-pointer position-relative" data-toggle="dropdown" style="top:0px !important;display: flex;flex-direction: row;justify-content: center;align-items: center;">
                <a style=" display: inline-flex; flex-direction: column; align-items: flex-end; padding-right:5px"><b style="font-size: 14px; color: #4f4f4f;">@(currentuser != null ? currentuser.FullName : "User")</b> <span style=" font-size: 13px; font-style: normal; ">Quản trị</span></a>
                <img src="images/user/1.png" height="40" width="40" alt="">
            </div>
            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                <div class="dropdown-content-body">
                    <ul>
                        @*<li>
                                <a href="/Users/Details?id=@(currentuser != null ? currentuser.Id : 0)"><i class="icon-user"></i> <span>Hồ sơ người dùng</span></a>
                            </li>*@
                        <li>
                            <a href="javascript:void()" style="color: #2f81ed !important" onclick="ChangePass(@(currentuser == null ? 0 : currentuser.Id))">
                                <i class="fa fa-cog menu-icon" style="color: #2f81ed !important"></i> <span>Đổi mật khẩu</span>
                            </a>
                        </li>
                        <li><a href="javascript:void(0)" onclick="logout()" style="color: red !important"><i class="icon-login" style="color:red !important"></i> <span>Đăng xuất</span></a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="icons dropdown d-none d-md-flex">
            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown" style=" border: 1px solid #adb0b2; border-radius: 5px; height: 35px; display: inline-flex; align-items: center; width: 65px; justify-content: flex-end; margin-top: 10px; ">
                <span><img id="imageLanguage" src="@((_language == null || _language == "vi-VN" ) ? "/images/vietnam-flag.png" : "/images/united-kingdom-flag.png" )" /></span><i class="fa fa-angle-down f-s-14" aria-hidden="true" style=" vertical-align: middle; "></i>
            </a>
            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                <div class="dropdown-content-body">
                    <ul>
                        @if (_language == null || _language == "vi-VN")
                        {
                            <li><a href="javascript:void()" id="english" onclick="ChangeLanguage('en-US')"><img src="~/images/united-kingdom-flag.png" /> Tiếng Anh</a></li>
                        }
                        else
                        {
                            <li><a href="javascript:void()" id="vietname" onclick="ChangeLanguage('vi-VN')"><img src="~/images/vietnam-flag.png" /> Tiếng Việt</a></li>
                        }
                    </ul>
                </div>
            </div>
        </li>

    </ul>
</div>
